.Home {
    width: 100%;
        @media (min-width: 720px) {
            display: flex;
        }
      
    .content{
        //width: 50%; esto para grande
        margin-top: 25px;
        @media (min-width: 720px) {
            width: 65%;
         }
    }
    .contentRight{
        margin-top: 25px;
        @media (min-width: 720px) {
            width: 35%;
         }
    }
}