.ButtonPay {
    .boxBottmPayWompi{
        text-align: start;
        margin-top: 20px;
        .buttonPayWompi{
            background-color: rgb(26, 69, 148);
            color: #fff;
        }
        .iconPay{
            margin-right: 10px;
        }
    }
}